.header-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-color: brown;
    width: 100%;
    height: 80px;
    position:fixed;
}

.link {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.first_name {
    background-color: black;
    height: 500px;
    display: grid;
    justify-items: center;
    align-items: center;
}

.name {
    color: white;
    font-size: 40px;
    text-align: center;
}

.who_am_i {
    color: brown;
    font-size: 30px;
    text-align: center;
}

.my_work {
    display: flex;
    flex-direction: column;
    background-color: darkcyan;
    height: 500px;
}

.my_projects {
    color: white;
    text-decoration: underline;
    font-size: 30px;
    text-align: center;
}

img {
    display: block;
    width: 100%;
}

.my_work_all {
    background-color: gray;
    text-align: center;
}

